# Node.js
/node_modules
npm-debug.log
yarn-error.log

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# IDE
.idea/
.settings/
.project
.classpsath
.c9/
*.launch
*.sublime-workspace

# Large media files
*.mp4
*.mov
*.avi
*.mkv
